body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
  font-family: "Roboto", sans-serif;
}

#GroceryImg {
  height: 50px;
  width: 50px;
}

.App{
  display: flex;
}

.PieChart{
  width: 100%;
  height: 400px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-wrapper {
  padding: 2%;
  max-width: 600px;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 3%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.todo-input-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.todo-input-item input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

.primary-btn {
  border: none;
  outline: none;
  padding: 10px 40px;
  border-radius: 30px;
  font-weight: 100;
  cursor: pointer;
  margin-right: 0px;
  font-family: "Roboto", sans-serif;
}

.btn-area {
  margin-bottom: 10px;
  display: flex;
  gap: 15px;
}

.secondaryBtn {
  border-radius: 20px;
  border: none;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.sortBy {
  position: inherit;
  border: transparent;
  outline: none;
  cursor: pointer;
  width: 110px;
  padding: 10px 7px;
  align-content: center;
  font-family: "Roboto", sans-serif;
}

.selectAll {
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  border-radius: 20px;
}

.todo-list {
  display: flex;
  flex-direction: column;
  min-height: 250px;
}

.checkbox {
  margin-right: 10px;
  transform: scale(1.3);
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.edit-icon {
  font-size: 25px;
  cursor: pointer;

  margin-right: 10px;
}

.delete-icon {
  font-size: 25px;
  cursor: pointer;

  margin-right: 10px;
}

.sbutton {
  visibility: hidden;
}
.todo-list-item:hover .sbutton {
  visibility: visible;
}

.check-icon {
  font-size: 28px;
  cursor: pointer;

  padding-top: 5px;
}

.todo-list-item div {
  display: flex;
  align-items: center;
}

.delete-btn {
  display: inline;
  margin: 10px -2px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: small;
}
